[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "geoheatmap"]
	path = geoheatmap
	url = https://github.com/sjwwillems/geoheatmap
